.button{
    display: flex;
    justify-content: center;
}
.btn-primary, .btn-inverse{
    padding: 10px;
    border-radius: 1rem;
    text-align: center;
    transition: all .3s ease;
    cursor: pointer;
    width: 35%;
    box-sizing: border-box;
}

.btn-primary{
    margin: 0 20px 10px 0;
    border: none;
    background: #66cc66;
    color: white;

}
.btn-primary:hover{
    background: none;
    color: black;
    border: 1px solid #363740;
    transition: all .3s ease;
}
.btn-inverse{
    margin: 0 0 10px 0;
    border: 1px solid #363740;
    background: none;
}
.btn-inverse:hover{
    color: #66cc66;
    border: 1px solid #66cc66;
    transition: all .3s ease;
}
.text {
    font-family: "Poppins",sans-serif;
    letter-spacing: .02rem;
    font-weight: 500;
}
.text-regular {
    font-size: 1rem;
    
}

@media screen and (max-width: 990px)  {
    .button{
        flex-direction: column;
    }
    .btn-primary, .btn-inverse{
        width: 100%;

    }
    .btn-primary{
        margin: 0 0 10px 0;
    }
}