.nav {
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
}
.nav h1 {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight:500;
    text-transform: uppercase;
    cursor: pointer;
}
.nav h1 span{
    color: #a7d82e;
}

nav {
    position: relative;
}
    
nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}
nav ul li {
    margin-left: 10px;
}

nav ul li p {
    color: #0f8d4e;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 400;
    margin-right:10px;
    border-bottom: 2px solid transparent;
    transition: 
    opacity 0.3s ease,
    border-bottom 0.3s ease;
    cursor: pointer;
}
nav ul li p:hover {
    border-bottom: 1px solid #0f8d4e;
}
@media screen and (max-width: 990px)  {
    .nav{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .nav h1 {
        margin-bottom: 2vh;
    }
    
}

    