.pricing-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 45rem;
    margin: 0 auto;
}

.pricing-wrapper h2 {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 1.9rem;
    box-sizing: border-box;
    border: 2px solid #c5c7cd;
    background-color: hsla(0,0%,94.1%,.2);
    box-shadow: 2px 2px 2px #c5c7cd;
    padding: .5rem;
    border-radius: 7px;
    text-align: center;
}
.order-table {
    box-sizing: border-box;
    border: 2px solid #c5c7cd;
    background-color: hsla(0,0%,94.1%,.2);
    box-shadow: 2px 2px 2px #c5c7cd;
    border-radius: 7px;
    width: 90%;
    margin: .5rem auto;
    padding: 0;
}
.order-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .5rem 1rem;
    border-bottom: 2px solid silver;
}
h3{
    margin: 0;
    padding: 0;
}
.order-title h3{
    font-weight: 500;
}
.order-item {
    font-size: 1.1rem;
    font-weight: 300;
    text-align: left;
    box-sizing: border-box;
    padding: .5rem 1rem;
}
.order-item span:first-child {
    width: 40%;
    max-width: 18rem;
    min-width: 12rem;
    display: inline-block;
}
.order-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    border-top: 2px solid silver;
}
.order-footer h3{
    font-weight: 500;
}
.order-footer h3:last-child{
    color: #66cc66
}

.location-search{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
input,
input::-webkit-input-placeholder {
    font-size: 15px;
}
.pricing-input{
    margin: 2%;
    width: 50%;
}
.button{
    display: flex;
    align-items: center;
}
.btn-primary-pricing{
    padding: 10px;
    border-radius: 1rem;
    text-align: center;
    transition: all .3s ease;
    cursor: pointer;
    width: 200px;
    box-sizing: border-box;
}

.btn-primary-pricing{
    margin: 30px 0 0 0;
    border: none;
    background: #66cc66;
    color: white;

}
.btn-primary-pricing:hover{
    background: none;
    color: black;
    border: 1px solid #363740;
    transition: all .3s ease;
}

@media screen and (max-width: 990px)  {
    .location-search{
        flex-direction: column;
    }
    .pricing-input{
        width: 100%;
    }
}