
.text {
    font-family: "Poppins",sans-serif;
    letter-spacing: .02rem;
    font-weight: 500;
}
.text-medium {
    font-size: 1.2rem;
    line-height: 2.2rem;
}

.text-regular {
    font-size: 1rem; 
}
.shift{
    margin-bottom: 20px;
}
.shift2{
    margin-top: 20px;
}
.contact-wrapper{
    display: flex;
    justify-content: center;
    padding: 5%; 
    width: 100%;
}
.contact-wrapper-child{
    width: 400px;
    padding: 2%;

}
.input-section{
    display: flex;
    flex-direction: column;
}
.input{
    background: #fff;
    border: .1rem solid #dfe0eb;
    box-sizing: border-box;
    border-radius: .8rem;
    font-size: 1rem;
    padding: 0.9rem;
}
.social-details{
    margin-top: 20px;
}
.no-margin{
    margin: 0;
    color: #66cc66;
}
.btn-primary-contact{
    padding: 10px;
    border-radius: 1rem;
    text-align: center;
    transition: all .3s ease;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.btn-primary-contact{
    margin: 30px 0 0 0;
    border: none;
    background: #66cc66;
    color: white;

}
.btn-primary-contact:hover{
    background: none;
    color: black;
    border: 1px solid #363740;
    transition: all .3s ease;
}

@media screen and (max-width: 990px)  {
    .contact-wrapper{
        flex-direction: column;
        padding: 0;
    }
    .contact-wrapper-child{
        width: 100%;
        padding: 2%;
    
    }
}